@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.destello-1{
    box-shadow:  400px 0px 200px 150px #2b0542;
    box-sizing: content-box;
    width: 100px;
    /* box-shadow: 0px 0px 100px 100px #2b0542;
    box-sizing: content-box;
    width: 100px; */
}

.articulo-1{ 
    padding-top: 150px;
}
h1{
    font-family: "orbitron", sans-serif;
}
.metaverse{
    background: linear-gradient(to right,#F86CF8,#64CEF5);
    background-clip: text;
  -webkit-text-fill-color:transparent ;
}
.btn-get{
  background: linear-gradient(to right,#D10ED1 12.04%, #10A3DA 81.84%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: pop;
}

.btn-explore {
    border-width: 2;
    border-style: solid;
    border-image: linear-gradient(to right,#D10ED1 , #10a410DA) 1;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
}
.section2{ 

}
